.card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}

.card {
  width: 100px;
  height: 200px;
  border: teal 1px solid;
  border-radius: 8px;
  cursor: pointer;
}

.active {
  background-color: coral;
}
